* {
    margin :0;
    padding : 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

header {
    margin: 20px;
    padding-bottom:20px;
}

.header-title{
    float:left;
}

.header-nav{
    margin-right:20px
}

.header-nav .fa-bars{
    display: inline-block;
    font-size:32px;
    line-height:30px;
    float: right;
}

.header-nav .fa-bars:hover{
    transform: rotate(90deg);
    transition: 1s; 
}
.header-nav ul{
    display:none;
}

.header-nav > .display{
    display:block;
    padding-top:50px;
}

.nav-lists > .display{
    display:block;
    line-height:8vh;
    width:100%;
    text-align:center;
    background-color:gray;
} 

.nav-list:hover{
    background-color:#ffffff;
    cursor:pointer;
}

li a{
    text-decoration: none;
}

.container {
    margin:0 auto;
    padding:0 20px
}

.input{
    padding-top:2vh;
    padding-bottom:2vh;
}

.add-word{
    height:30px;
    width: 90%;
    margin-right:2%;
    font-size: 14px;
}

.buttons {
    height:30px;
    margin-top:10px;
}

.font-size{
    padding:4px 8px;
    margin-right:2%;
    width:72px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;
    color: #444;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;       /* Remove default arrow */
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");   /* Add custom arrow */
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 2px;
    border:none;
}

.white-btn, .black-btn, .reset-btn{
    margin-right:1%;
    padding: 10px;
    width:36px;
    font-size:14px;
    border-radius: 50%;
    border:solid 1px black;
    font-weight:700;
}

.white-btn{
    background-color:#ffffff;
    transform:all 0.5s;
}

.white-btn:hover, .black-btn:hover{
    color:gray;
    cursor:pointer;
}

.black-btn{
    background-color: #000000;
    color:#ffffff;
    transform:all 0.5s;
}

.reset-btn:hover{
    color:#ffffff;
    cursor: pointer;
}

.font{
    width:95%;
}

.font h3{
    margin:15px auto;
}

.font div{
    border-bottom: solid 1px gray;
    padding-bottom:10vh;
}

.Ariral{
    font-family:Arial;
}
.times-new-roman{
    font-family: 'Times New Roman', 'Times New Roman', Times, serif;
}

.tahoma{
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}

.helvetia{
    font-family: Arial, Helvetica, sans-serif;
}

.palatino{
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.comic{
    font-family: "Comic Sans MS", cursive, sans-serif;
}
.courier{
    font-family: "Courier New", Courier, monospace;
}

.text-box{
    font-size:24px;
}
@media screen and (min-width:660px){

    .header-nav ul{
        display:inline;
    }
    
    .header-nav ul li{
        line-height:6vh;
        margin:0 20px;
        float:right;
        list-style:none;
    }

    .header-nav .fa-bars{
        display:none;
    }

    .add-word{
        height:30px;
        width: 50%;
        margin-right:2%;
        font-size: 14px;
    }
    
    .buttons{
        display:inline;
    }

    .fonts{
        display:flex;
        flex-direction: row;
        flex-wrap:wrap;
    }
    
    .font{
        width:46%;
        margin:2%;
     
    }

    .text-container{
        border: solid 1px #000000;
        padding:4%;
        min-height:15vh
    }
}

@media screen and (min-width:1000px){

    .font{
        width:30%;
        margin:1%;
    }
}